#app {
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.app_vertical_layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app_top_horizontal_layout {
    flex-grow: 1;
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.app_bottom_horizontal_layout {
    flex-grow: 0;
    display: flex;
    padding: 5px;
    background-color: var(--bg3);
    box-shadow: rgba(0, 0, 0, 0.335) 0 0 3px;
}

.app_messages_list_wrapper {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

/*
 * :nth-child(2n+1) select every odd numbered child
 * (meaning the first and last in this instance,
 * i did it this way (and not in the css of the actual
 * components) because the shadow is here to highlight
 * the limits of components, and is linked to the layout
 * those a setup in (layout described in this file)
 */
.app_top_horizontal_layout > *:nth-child(2n+1) {
    position: relative;
    z-index: 2;
    box-shadow: rgb(37, 37, 37) 0 0 3px;
}

.app_room_editor_start {
    cursor: pointer;
    transition: 0.1s all;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: var(--accent);
    border-radius: var(--border-radius);
}

.app_room_editor_start:hover {
    filter: brightness(0.9);
}

.app_room_editor_plus {
    clip-path: polygon(52.5% 0, 47.5% 0, 47.5% 47.5%, 0 47.5%, 0 52.5%, 47.5% 52.5%, 47.5% 100%, 52.5% 100%, 52.5% 52.5%, 100% 52.5%, 100% 47.5%, 52.5% 47.5%);
    background-color: white;
    width: 50px;
    height: 50px;
    transform: scale(0.8);
}
