aniso8601==8.1.0
apispec==4.4.0
apispec-webframeworks==0.5.2
click==7.1.2
dnspython==2.1.0
docopt==0.6.2
email-validator==1.1.2
flake8==3.9.1
Flask==1.1.2
flask-apispec==0.11.0
Flask-Cors==3.0.10
flask-mongoengine==1.0.0
Flask-RESTful==0.3.8
flask-restful-swagger==0.20.2
flask-restful-swagger-3==0.4.6
Flask-WTF==0.14.3
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
marshmallow==3.11.1
mccabe==0.6.1
mongoengine==0.22.1
pathspec==0.8.1
pycodestyle==2.7.0
pyflakes==2.3.1
pymongo==3.11.2
pytz==2020.5
PyYAML==5.4.1
six==1.15.0
template-remover==0.1.9
webargs==8.0.0
Werkzeug==1.0.1
WTForms==2.3.3
yamllint==1.26.1
