/*
    probably not final style, just a kind of draft
*/
* {
    --bg1: #1e1d24;
    --bg2: #4c4953;
    --bg3: #393842;
    --accent: rgb(14, 247, 149);
    --font-size: 25px;
    --border-radius: 6px;
}
body {
    background-color: var(--bg1);
    margin: 0;
    font-size: var(--font-size);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
