.room_editor_wrapper {
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
}

.room_editor_popup {
    background-color: var(--bg3);
    border-radius: 7px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.room_editor_content_wrapper > *, .room_editor_popup > *:not(.room_editor_content_wrapper) {
    --margin: 15px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

.room_editor_tabs {
    display: flex;
    width: 100%;
} 

.room_editor_tabs > * {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    padding-bottom: 8px;
}

.room_editor_selected_tab {
    border-bottom: solid white 2px;
}

.room_editor_content_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.room_editor_title {
    width: 100%;
    text-align: center;
    font-size: smaller;
}

.room_editor_label {
    color: rgb(189, 189, 189);
    font-size: 0.8em;
    margin-bottom: 0;
}

.room_editor_input {
    margin-top: 3px;
    outline: 0;
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-size: 0.9em;
    color: rgb(173, 173, 173);
    background-color: var(--bg2);
    transition: 0.1s;
    width: 30vw;
    min-width: 400px;
}

.room_editor_input:focus {
    color: white;
}

textarea.room_editor_input {
    resize: vertical;
}

.room_editor_submit_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.room_editor_button {
    border: none;
    transition: 0.1s;
    border-radius: 4px;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 0.9em;
}

.room_editor_button:hover {
    filter: brightness(0.8);
}

.room_editor_submit {
    background-color: var(--accent);
}

.room_editor_cancel {
    background-color: rgb(145, 145, 145);
}

.room_editor_start {
    cursor: pointer;
    transition: 0.1s all;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: var(--accent);
    border-radius: var(--border-radius);
}

.room_editor_start:hover {
    filter: brightness(0.9);
}

.room_editor_plus {
    clip-path: polygon(52.5% 0, 47.5% 0, 47.5% 47.5%, 0 47.5%, 0 52.5%, 47.5% 52.5%, 47.5% 100%, 52.5% 100%, 52.5% 52.5%, 100% 52.5%, 100% 47.5%, 52.5% 47.5%);
    background-color: white;
    width: 50px;
    height: 50px;
    transform: scale(0.8);
}