<html>
    <head>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/fr.min.js"></script>
        <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/activity_bar.css">
        <link rel="stylesheet" href="css/message_editor.css">
        <link rel="stylesheet" href="css/room_list.css">
        <link rel="stylesheet" href="css/room_editor.css">
        <link rel="stylesheet" href="css/user-list.css">
        <link rel="stylesheet" href="css/messages-list.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div id="app">
            <login v-on:login="onLogin($event)" v-if="!isConnected"></login>
            <room-editor v-if="!roomEditorHidden" v-model:hidden="roomEditorHidden" v-on:create-room="createRoom($event)" v-on:join-room="joinRoom($event)"></room-editor>
            <div class="app_vertical_layout">
                <div class="app_top_horizontal_layout">
                    <room-list v-model:rooms="rooms" v-on:room-selected="displayRoom($event)" v-on:room-quit="quitRoom($event)"></room-list>
                    <div class="app_messages_list_wrapper">
                        <activity-bar v-bind:current-room="selectedRoom" v-bind:is-writing="isWriting"></activity-bar>
                        <messages v-bind:messages="messages"></messages>
                    </div>
                    <user-list v-bind:users="users"></user-list>
                </div>
                <div class="app_bottom_horizontal_layout">
                    <div class="app_room_editor_start" @click="roomEditorHidden = false">
                        <div class="app_room_editor_plus"></div>
                    </div>
                    <message-editor v-model:content="currentTypedMessage" v-on:send-message="onMessageSend($event)" v-on:start-writing="isWriting = true" v-on:stop-writing="isWriting = false"></message-editor>
                </div>
            </div>
        </div>
        <script src="js/activity_bar.js"></script>
        <script src="js/message_editor.js"></script>
        <script src="js/room_list.js"></script>
        <script src="js/room_editor.js"></script>
        <script src="js/user-list.js"></script>
        <script src="js/message-list.js"></script>
        <script src="js/login.js"></script>
        <script src="js/service.js"></script>
        <script>
            /*
             * this whole component should be mostly (or entirely re-written) 
             * when scratchy service will be done, to use the api instead of 
             * dummy data. (oh and the code mostly sucks)
             */
             // THE TIME IS NOW
             // and im not happy about it
            const srv = new ScratchyService("http://localhost:5000/api");
            const app = Vue.createApp({
                name: "app",
                data: () => ({
                    selectedRoom: null,
                    isWriting: false,
                    loggedUser: null,
                    roomEditorHidden: true,
                    currentTypedMessage: "",
                    rooms: [],
                    users: [],
                    messages: []
                }),
                mounted() {
                    this.fetchRooms();
                },
                methods: {
                    fetchRooms() {
                        (async () => {
                            this.rooms = (await srv.getAllRooms()).rooms;
                        })();
                    },
                    onMessageSend() {
                        srv.createMessage(this.loggedUser.id, this.currentTypedMessage, this.selectedRoom.id);
                        // reset
                        this.currentTypedMessage = "";
                    },
                    // this is just example code
                    // (called when a room is selected)
                    displayRoom(roomInfo) {
                        const {room, index} = roomInfo;
                        this.selectedRoom = room;
                        srv.getAllMessagesInRoom(room.id).then(v => this.messages = v.messages);
                    },
                    quitRoom(roomInfo) {
                        const {room, index} = roomInfo;
                        this.rooms.splice(index, 1);
                        if(room.id == this.selectedRoom.id) {
                            if(this.rooms.length > 0) { // default to the last room when quitting the currently selected room
                                this.selectedRoom = this.rooms[this.rooms.length-1];
                            } else { // or just go back to the default of there aren't any rooms
                                this.selectedRoom = null
                            }
                        }
                    },
                    createRoom(roomData) {
                        // TODO: do whatever
                        console.debug(`create room\n title: ${roomData.title}\n desc: ${roomData.description}`);
                        // temporary code to make it look like how it should behave but that really isn't how it'll be done
                        srv.createRoom(roomData.title, roomData.description).then(this.fetchRooms);
                        this.roomEditorHidden = true;
                        this.fetchRooms();
                    },
                    joinRoom(id) {
                        // TODO: do whatever
                        console.debug(`join room '${id}'`);
                        // temporary code to make it look like how it should behave but that really isn't how it'll be done
                        this.rooms.push({
                            _id: {
                                $oid: id
                            },
                            title: "title",
                            description: ""
                        });
                        this.roomEditorHidden = true;
                    },
                    onLogin(pseudo) {
                        srv.getUserByPseudo(pseudo).catch(e => {
                            srv.createUser(pseudo, "").then(v => this.loggedUser = v);
                        }).then(v => this.loggedUser = v);
                    }
                },
                computed: {
                    isConnected() {
                        return this.loggedUser !== null;
                    }
                },
            });
            app.component("activity-bar", activityBar);
            app.component("message-editor", messageEditor);
            app.component("room-list", roomList);
            app.component("room-editor", roomEditor);
            app.component('user-list',userList);
            app.component('messages',messages);
            app.component("login", login);
            app.mount("#app");
        </script>
    </body>
</html>