<html>
    <head>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/fr.min.js"></script>
        <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>
        <link rel="stylesheet" href="css/global.css">
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/activity_bar.css">
        <link rel="stylesheet" href="css/message_editor.css">
        <link rel="stylesheet" href="css/room_list.css">
        <link rel="stylesheet" href="css/room_editor.css">
        <link rel="stylesheet" href="css/user-list.css">
        <link rel="stylesheet" href="css/messages-list.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div id="app">
            <login v-on:login="onLogin($event)" v-if="!isConnected"></login>
            <room-editor v-if="!roomEditorHidden" v-model:hidden="roomEditorHidden" v-on:create-room="createRoom($event)" v-on:join-room="joinRoom($event)"></room-editor>
            <div class="app_vertical_layout">
                <div class="app_top_horizontal_layout">
                    <room-list v-model:rooms="rooms" v-on:room-selected="displayRoom($event)" v-on:room-quit="quitRoom($event)"></room-list>
                    <div class="app_messages_list_wrapper">
                        <activity-bar v-bind:current-room="selectedRoom" v-bind:is-writing="isWriting"></activity-bar>
                        <messages v-bind:messages="messages"></messages>
                    </div>
                    <user-list v-bind:users="users"></user-list>
                </div>
                <div class="app_bottom_horizontal_layout">
                    <div class="app_room_editor_start" @click="roomEditorHidden = false">
                        <div class="app_room_editor_plus"></div>
                    </div>
                    <message-editor v-model:content="currentTypedMessage" v-on:send-message="onMessageSend($event)" v-on:start-writing="isWriting = true" v-on:stop-writing="isWriting = false"></message-editor>
                </div>
            </div>
        </div>
        <script src="js/activity_bar.js"></script>
        <script src="js/message_editor.js"></script>
        <script src="js/room_list.js"></script>
        <script src="js/room_editor.js"></script>
        <script src="js/user-list.js"></script>
        <script src="js/message-list.js"></script>
        <script src="js/login.js"></script>
        <script src="js/service.js"></script>
        <script>


            const srv = new ScratchyService("http://localhost:5000/api");

            const app = Vue.createApp({
                name: "app",
                data: () => ({
                    selectedRoom: null,
                    isWriting: false,
                    loggedUser: null,
                    roomEditorHidden: true,
                    currentTypedMessage: "",
                    rooms: [],
                    users: [],
                    messages: []
                }),
                mounted() {
                    this.fetchRooms();
                    setInterval(() => {
                        this.fetchMessages();
                    }, 1000);
                },
                methods: {
                    async fetchRooms() {
                        if(this.loggedUser === null) return;
                        this.rooms = await srv.getAllRooms(this.loggedUser)
                    },
                    async fetchMessages(){
                        if(this.selectedRoom != undefined){
                        this.messages = await srv.getAllMessagesInRoom(this.selectedRoom);
                        };
                    },
                    async onMessageSend() {
                        await srv.createMessage(this.loggedUser.id, this.currentTypedMessage, this.selectedRoom.id);
                        // reset
                        this.currentTypedMessage = "";
                    },
                    async displayRoom(roomInfo) {
                        const {room} = roomInfo;
                        this.selectedRoom = room;
                        this.messages = await srv.getAllMessagesInRoom(room);
                    },
                    async quitRoom(roomInfo) {
                        const {room} = roomInfo;
                        await srv.removeUserFromRoom(room,this.loggedUser);
                        await this.fetchRooms();
                        if(room.id == this.selectedRoom.id) {
                            if(this.rooms.length > 0) { // default to the last room when quitting the currently selected room
                                this.selectedRoom = this.rooms[this.rooms.length-1];
                            } else { // or just go back to the default of there aren't any rooms
                                this.selectedRoom = null
                            }
                        }
                    },
                    async createRoom(roomData) {
                        await srv.createRoom(roomData.title, roomData.description,[this.loggedUser.id]);
                        this.roomEditorHidden = true;
                        await this.fetchRooms();
                    },
                    async joinRoom(id) {
                        const room = await srv.getRoom(id);
                        await srv.addUserToRoom(room,this.loggedUser);
                        this.roomEditorHidden = true;
                        await this.fetchRooms();
                    },
                    async onLogin(pseudo) {
                        this.loggedUser = await srv.getOrCreateUser(pseudo);
                        await this.fetchRooms();
                    },
                },
                computed: {
                    isConnected() {
                        return this.loggedUser !== null;
                    }
                }
            });
            app.component("activity-bar", activityBar);
            app.component("message-editor", messageEditor);
            app.component("room-list", roomList);
            app.component("room-editor", roomEditor);
            app.component('user-list',userList);
            app.component('messages',messages);
            app.component("login", login);
            app.mount("#app");
        </script>
    </body>
</html>